<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>ad应用</title>
        <meta name="keywords" content="ad应用">
        <meta name="description" content="ad应用">
        <link href="../style/cnStyle.css" rel="stylesheet" />
        <link href="http://atp2.yokacdn.com/css/component/main.css?000031" rel="stylesheet" />
        <script src="../scripts/jquery.min.js"></script>
        <script src="../scripts/k.ad.js"></script>
        
    </head>
    <body>
        <br><br>
        <div class="def-banner re-sig-mag" id="js-ad-show12">
            <div class="imgslide" id="js-imgslide-12">
                            <a target="_blank" href="http://at.yoka.com/asjirogoes" title="本期新星作者推荐"><img src="http://atp4.yokacdn.com/20130730/27/2790467fa6d814aacb9b072e6aa72664.jpg" onerror="this.onerror=null;this.src='http://atp2.yokacdn.com/20120904/c3/c3939b50298f83a8e0a5cfde6fe8c6e6_855x300.jpg';" width="855" height="300" alt="本期新星作者推荐"/></a>
                            <a target="_blank" href="http://fan.yoka.com/?fromid=at_jiaodian" title="本期新星作者推荐"><img src="http://atp1.yokacdn.com/20131210/3b/3b5d20a32de249dc1e22a99b454e5435.jpg" onerror="this.onerror=null;this.src='http://atp2.yokacdn.com/20120904/c3/c3939b50298f83a8e0a5cfde6fe8c6e6_855x300.jpg';" width="855" height="300" alt="本期新星作者推荐"/></a>
                            <a target="_blank" href="http://at.yoka.com/user__6635063.html" title="本期新星作者推荐"><img src="http://atp1.yokacdn.com/20130730/4f/4f0e9715ccdd4d0f9cbb4e68e873f3c8.jpg" onerror="this.onerror=null;this.src='http://atp2.yokacdn.com/20120904/c3/c3939b50298f83a8e0a5cfde6fe8c6e6_855x300.jpg';" width="855" height="300" alt="本期新星作者推荐"/></a>
                            <a target="_blank" href="http://at.yoka.com/user__6629004.html" title="本期新星作者推荐"><img src="http://atp3.yokacdn.com/20130730/ce/ce5af20613426ead56b8ba008cfb8a9d.jpg" onerror="this.onerror=null;this.src='http://atp2.yokacdn.com/20120904/c3/c3939b50298f83a8e0a5cfde6fe8c6e6_855x300.jpg';" width="855" height="300" alt="本期新星作者推荐"/></a>
                            <a target="_blank" href="http://at.yoka.com/user__6638147.html" title="本期新星作者推荐"><img src="http://atp4.yokacdn.com/20130802/4a/4a632071cc5edc5bc5ff67e41fcc4f41.jpg" onerror="this.onerror=null;this.src='http://atp2.yokacdn.com/20120904/c3/c3939b50298f83a8e0a5cfde6fe8c6e6_855x300.jpg';" width="855" height="300" alt="本期新星作者推荐"/></a>
                            
            </div>
            <div class="slidebt" id="js-slidebt" style="bottom:17px;">
                <p class="a_left"></p>
                <p class="a_center">
                            <a href="javascript:;" class=""></a>
                            <a href="javascript:;" class=""></a>
                            <a href="javascript:;" class=""></a>
                            <a href="javascript:;" class=""></a>
                            <a href="javascript:;" class=""></a>
                            </p>
                <p class="a_right"></p>
            </div>
        </div>
        <div class="clear"></div>
        <script type="text/javascript">
            $(function(){
                $("#js-imgslide-12").doImages({
                    imgs:$("#js-imgslide-12 img"),
                    thumbs:$("#js-ad-show12 .slidebt  a"),
                    num:0,
                    thumbsClass:"curr",
                    type:"click",
                    auto:true,
                    time:5000
                });
            });
        </script>
        
    </body>
</html>