<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>combobox应用</title>
        <meta name="keywords" content="combobox应用">
        <meta name="description" content="combobox应用">
        <link href="../style/cnStyle.css" rel="stylesheet" />
        <script src="../scripts/jquery.min.js"></script>
        <script src="../scripts/k.combobox.js"></script>
       
    </head>
    <body>
        <br/>
        <div>
            <span>
                <select id="sel">
                    <option>请选择类型</option>
                    <option value="101">学生</option>
                    <option value="102">工人</option>
                    <option value="103">农民</option>
                    <option value="104">军人</option>
                    <option value="105">儿童</option>
                </select>
            </span>
        </div>
        <script type="text/javascript">
          var sel = new $.fn.combox($("#sel"),{
            debug:!1,  //设置select可见
            allowAnyValue:false,  //是否可以输入
            position:"down",  //展示方向
            isSelect:!0,  //是否可以选择
            maxHeight:150,  //最大高度
            minWidth:240,  //最小宽度
            width:null,  //宽度
            addList:!1,  //是否有添加选项功能
            lock:!1,  //锁定，不可点击
            addListCallBack:null,  //添加选项回调函数
            selectCallBack:function(val){
                //console.log(sel.getValue($("#sel")));
            }   //选中回调函数
          });
        </script>
        
    </body>
</html>