<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>dialog应用</title>
        <meta name="keywords" content="dialog应用">
        <meta name="description" content="dialog应用">
        <link href="../style/cnStyle.css" rel="stylesheet" />
        <script src="../scripts/jquery.min.js"></script>
        <script src="../scripts/k.components.js"></script>
    </head>
    <body>
        <div>
            hello world.
        </div>
    </body>
</html>