<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>dialog应用</title>
        <meta name="keywords" content="dialog应用">
        <meta name="description" content="dialog应用">
        <link href="../style/cnStyle.css" rel="stylesheet" />
        <script src="../scripts/jquery.min.js"></script>
        <script src="../scripts/k.components.js"></script>
        <style type="text/css">
            html,body{height:100%;}
            .tabList{padding-left:10px;}
            .tabList li{float:left;padding:5px 10px;font-size:12px;line-height:24px;cursor:pointer;list-style:none;border:1px #ccc solid;background-color:#f1f1f1;}
            .tabList li.active{background:#fff;border-bottom:1px #fff solid;}
            .tabContent{display:none;margin-top:-1px;padding:20px;border:1px #ccc solid;font-size:12px;line-height:24px;}
            .clear{clear:both;}
        </style>
    </head>
    <body>
        <h2 id="showTimes"></h2>
        <br><br><br><br><br><br><br><br><br><br>
        <div id="demo">abc</div>
        <div>
            <span>
                <select id="sel">
                    <option>请选择类型</option>
                    <option value="101">学生</option>
                    <option value="102">工人</option>
                    <option value="103">农民</option>
                    <option value="104">军人</option>
                    <option value="105">儿童</option>
                </select>
            </span>
        </div>
        <br/>
        <div>
            <ul class="tabList">
                <li class="active">标题1</li>
                <li class="">标题2</li>
                <li class="">标题3</li>
                <li class="">标题4</li>
            </ul>
            <div class="clear"></div>
            <div class="box">
                <div class="tabContent" style="display: block;">内容一</div>
                <div class="tabContent">内容二</div>
                <div class="tabContent">内容三</div>
                <div class="tabContent">内容四</div>
            </div>
        </div>
        
        <script type="text/javascript">
        /**
            $("#demo").dialog({
                width: 500,       //宽度
                height: 300,      //高度
                open:!1,          //初始化是否显示
                modal:!0,         //是否显示模态
                show:"normal",    //显示的形式
                html: '<div class="top"><span class="left title">新信息窗口</span></div><div class="body">Helo world.<br>...</div>',            //内容html
                dialogClass:"dialog",    //dialog的样式
                closeCallBack:null       //关闭回调函数
            });
            */
            //$(document).win.alert("您的作文写得真棒。","ok");
            //$(document).win.confirmCenter($("#demo"),"提示的文字信息在这里。",function(){  alert(1); });
            //$(document).win.confirm($("#demo"),"提示的文字信息在这里。",function(){  alert(1); },"down");
            //$(document).win.posTips($("#demo"),"提示的文字信息在这里。","up","center",function(){},"");
            
            //页签
            var sel = new $.fn.combox($("#sel"),{
                        debug:!1,  //设置select可见
                        allowAnyValue:false,  //是否可以输入
                        position:"down",  //展示方向
                        isSelect:!0,  //是否可以选择
                        maxHeight:150,  //最大高度
                        minWidth:240,  //最小宽度
                        width:null,  //宽度
                        addList:!1,  //是否有添加选项功能
                        lock:!1,  //锁定，不可点击
                        addListCallBack:null,  //添加选项回调函数
                        selectCallBack:function(val){
                            //console.log(sel.getValue($("#sel")));
                        }  //选中回调函数
                      });
            
            var tabs = new $.fn.tab({
                        tabList:".tabList li",  //tabs的头部title元素
                        contentList:".box .tabContent",  //tabs的内容样式
                        tabActiveClass:"active",  //tabs的激活样式
                        tabDisableClass:"disable",  //tabs的隐藏样式
                        eventType:"click",  //触发事件类型
                        showType:"show",  //显示的效果
                        showSpeed:200,  //显示效果的速度（毫秒）
                        callBackStartEvent:null,  //事件触发开始时回调方法
                        callBackHideEvent:null,  //当内容全部隐藏时回调方法
                        callBackShowEvent:null  //当显示完当前tab内容时，回调方法
                      });
            tabs.triggleTab(3);
            
            //倒计时
            var showTimes = new $.fn.timeDown(1386905705213,1386906547598,100);
            showTimes.atTime(function(){
                $("#showTimes").html("到期了");
            },function(d,h,m,s,ms){
                $("#showTimes").html(d+"天"+h+"小时"+m+"分"+s+"秒"+ms+"毫秒");
            });
            
        </script>
        
    </body>
</html>